$font-family-inter:'Inter', sans-serif;
$font-family-lexend:'Lexend Deca', sans-serif;
$title-color:hsl(0, 0%, 100%);
$text-body-color:hsla(0, 0%, 100%, 0.6);
$title-size:2rem;
$body-text:15px;
$line-height-body:1.8;
